
  body {
    background-color: salmon;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-family: 'Macondo Swash Caps', cursive;
    }
    h1{
      color:black
    }
  # mark {
    float:right;
    position:absolute;
  }
